{% extends "base.html" %}

{% block content %}
<h3 class="text-center mb-4">Area Riservata Agenzie</h3>

<form method="post" action="{{ url_for('login') }}">
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" name="password" required>
  </div>

  {% if error %}
  <div class="alert alert-danger py-2">{{ error }}</div>
  {% endif %}

  <div class="d-grid">
    <button type="submit" class="btn btn-warning fw-bold">
      Entra
    </button>
  </div>
</form>
{% endblock %}
